.custom-yes-btn {
  margin-left: 24px;
  border: 1px solid rgb(8 47 73);
  background-color: rgb(8 47 73);
  border-radius: 4px;
  padding: 4px 8px;
}

.custom-no-btn {
  border: 1px solid red;
  background-color: red;
  border-radius: 4px;
  padding: 4px 8px;
}
