.filter-dropdown {
  margin-top: 24px;
  margin-bottom: 24px;
  position: relative;
  margin-left: 8px;
  border: 2px;
  border-radius: 16px;
  background-color: rgb(8 47 73);
  padding: 4px 16px 4px 16px;
}

.workout-dropdown {
  margin-top: 4px;
}
