<button
  pButton
  label="Add Workout"
  icon="pi pi-plus"
  class="ht-px-16-px ht-bg-sky-950 ht-h-12 ht-rounded-2xl ht-mt-24-px ht-mb-12-px"
  (click)="showDialog()"
></button>

<p-dialog
  header="Add Workout"
  [(visible)]="dialogVisible"
  [modal]="true"
  [styleClass]="'dialog-container'"
>
  <div class="p-fluid">
    <div class="p-field">
      <label for="userName">User Name</label>
      <input
        id="userName"
        type="text"
        pInputText
        [(ngModel)]="userName"
        class="ht-w-full ht-mt-4-px ht-py-4-px"
      />
      <small *ngIf="nameError" class="p-error">User name is required.</small>
    </div>

    <div class="p-field">
      <label for="workoutDuration">Workout Duration (minutes)</label>
      <input
        id="workoutDuration"
        type="number"
        pInputText
        [(ngModel)]="workoutDuration"
        class="w-full ht-mt-4-px ht-py-4-px"
      />
      <small *ngIf="durationError" class="p-error">Duration is required.</small>
    </div>

    <div class="p-field">
      <label for="workoutType">Workout Type</label>
      <p-dropdown
        id="workoutType"
        [options]="workoutTypes"
        [(ngModel)]="selectedWorkoutType"
        placeholder="Select a type"
        [styleClass]="'workout-dropdown'"
      ></p-dropdown>
      <small *ngIf="typeError" class="p-error"
        >Please select a workout type.</small
      >
    </div>
  </div>

  <div class="p-dialog-footer ht-mt-64-px">
    <button
      pButton
      label="Cancel"
      (click)="hideDialog()"
      class="p-button-secondary ht-py-8-px ht-px-16-px ht-rounded-xl ht-mr-16-px"
    ></button>
    <button
      pButton
      label="Add"
      (click)="addWorkout()"
      class="p-button-primary ht-bg-sky-950 ht-py-8-px ht-px-16-px ht-rounded-xl"
    ></button>
  </div>
</p-dialog>
