<div class="ht-m-24-px">
  <!-- Main Heading for Workout Monitor App -->
  <h1
    class="ht-flex ht-align-center ht-justify-center ht-text-4xl ht-font-bold ht-text-white ht-bg-gradient-to-r ht-from-sky-950 ht-via-purple-700 ht-to-red-500 ht-py-4 ht-px-8 ht-rounded-lg ht-shadow-xl"
  >
    Workout Monitor App
  </h1>

  <!-- Subheading for Workout Dashboard -->
  <h2
    class="ht-mt-64-px ht-flex ht-justify-center ht-text-2xl ht-font-semibold ht-text-sky-100 ht-text-center ht-mb-1 ht-pb-2 ht-border-b-2 ht-border-sky-800 ht-shadow-lg ht-rounded-md ht-bg-sky-950 ht-w-full ht-max-w-2xl ht-mx-auto ht-ml-6-px"
  >
    Workout Dashboard
  </h2>

  <!-- Component for adding a workout -->
  <app-add-workout (workoutAdded)="addWorkoutToTable($event)"></app-add-workout>
  <!-- Toast message component for adding/deleting workout -->
  <p-toast></p-toast>

  <!-- Section for Search and Filter functionality -->
  <h2 class="ht-text-xl ht-mb-8-px ht-font-bold ht-text-gray-800">
    Search and Filter
  </h2>

  <div class="search-filter-container">
    <div class="ht-flex ht-justify-start">
      <!-- Search bar to filter workouts by Username -->
      <input
        type="text"
        placeholder="Search by Username"
        class="ht-search-bar ht-p-3 ht-w-full ht-max-w-md ht-border-2 ht-border-sky-950 ht-rounded-2xl ht-focus:outline-none ht-focus:ring-2 ht-focus:ring-blue-300"
        [(ngModel)]="searchText"
        (input)="filterWorkoutData()"
      />
    </div>

    <!-- Dropdown to filter workouts by Workout Type -->
    <div class="p-field">
      <p-dropdown
        id="workoutTypeFilter"
        [options]="workoutTypes"
        [(ngModel)]="selectedWorkoutType"
        (onChange)="filterWorkoutData()"
        placeholder="Select Workout Type"
        [styleClass]="'filter-dropdown'"
      ></p-dropdown>
    </div>
  </div>

  <!-- Table for displaying workouts -->
  <div class="ht-w-full ht-mt-4 ht-shadow-lg ht-rounded-lg ht-m-8-px">
    <p-table
      [value]="filteredWorkouts"
      [paginator]="filteredWorkouts.length >= 5"
      [rows]="itemsPerPage"
      [rowsPerPageOptions]="[5, 10, 15, 20]"
      [totalRecords]="filteredWorkouts.length"
      (onLazyLoad)="onLazyLoad($event)"
    >
      <!-- Table Header -->
      <ng-template pTemplate="header">
        <tr class="ht-bg-sky-950">
          <th class="ht-px-4 ht-py-2 ht-text-left ht-text-white">Username</th>
          <th class="ht-px-4 ht-py-2 ht-text-left ht-text-white">
            Workout Types
          </th>
          <th class="ht-px-4 ht-py-2 ht-text-left ht-text-white">
            Number of Workouts
          </th>
          <th class="ht-px-4 ht-py-2 ht-text-left ht-text-white">
            Total Workout Minutes
          </th>
          <th></th>
        </tr>
      </ng-template>

      <!-- Table Body -->
      <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
        <tr
          class="workout-item ht-border-b ht-border-gray-200 hover:ht-bg-gray-500"
        >
          <td class="ht-px-4 ht-py-2">{{ user.userName }}</td>
          <td class="ht-px-4 ht-py-2">
            <div
              *ngFor="let type of user.workoutTypes"
              class="ht-inline-block ht-bg-sky-950 ht-text-white ht-rounded-md ht-px-2 ht-py-1 ht-mb-1 ht-mr-1"
            >
              {{ type }}
            </div>
          </td>
          <td class="ht-px-4 ht-py-2">{{ user.workoutsCount }}</td>
          <td class="ht-px-4 ht-py-2">{{ user.workoutDuration }}</td>
          <td class="ht-px-4 ht-py-2">
            <!-- Delete button for each workout entry -->
            <button
              class="ht-text-red-600 ht-px-3 ht-py-1 ht-rounded-md ht-hover:bg-red-800"
              (click)="deleteWorkout(rowIndex)"
            >
              Delete
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- Confirmation Dialog for deleting a workout -->
    <p-confirmDialog
      header="Delete Workout Confirmation"
      icon="pi pi-exclamation-triangle"
      [acceptLabel]="'Yes'"
      [rejectLabel]="'No'"
    ></p-confirmDialog>

    <!-- Message when no workouts are available -->
    <div
      *ngIf="filteredWorkouts.length === 0"
      class="ht-text-center ht-text-gray-500 ht-py-5"
    >
      No workouts added.
    </div>
  </div>

  <!-- Chart section for workout analysis -->
  <div class="ht-flex ht-flex-col ht-items-center ht-mt-16">
    <!-- Heading for Workout Analysis -->
    <h2
      class="ht-text-2xl ht-font-semibold ht-text-sky-100 ht-text-center ht-mb-4 ht-pb-2 ht-border-b-2 ht-border-sky-800 ht-shadow-lg ht-rounded-md ht-bg-sky-950 ht-w-full ht-max-w-2xl"
    >
      User's Workout Analysis
    </h2>

    <!-- User Selector and Chart Section -->
    <div class="ht-flex ht-flex-row ht-mt-8">
      <!-- Check if there are users in the userList -->
      <ng-container *ngIf="userList.length > 0; else noUsersMessage">
        <!-- Display the user selector and workout chart if users are available -->
        <app-user-selector
          (updateSelectedUser)="updateSelectedWorkoutForChart($event)"
          [userList]="userList"
        ></app-user-selector>
        <app-workout-chart
          [selectedWorkoutForChart]="selectedWorkoutForChart"
        ></app-workout-chart>
      </ng-container>

      <!-- Display this message if there are no users in the userList -->
      <ng-template #noUsersMessage>
        <div class="no-users-message ht-text-center ht-text-gray-500 ht-py-5">
          <p>Add a workout to view workout analysis.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
