.search-filter-container {
  @apply ht-flex
    ht-flex-row
    ht-items-center
    ht-justify-start;
}

.popup-animation {
  animation: popup 0.9s ease-in-out;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
